:root {
  --primary-color-100: #663642;
  --primary-color-200: #4c252e;
  --primary-color: var(--primary-color-100);

  --secondary-color-100: #7a6a9f;
  --secondary-color-200: #635588;
  --secondary-color: var(--secondary-color-100);

  --accent-color-50: #fff0f3;
  --accent-color-100: #ee7591;
  --accent-color-200: #cc647c;
  --accent-color-transparent: rgba(238, 117, 145, 0.2);
  --accent-color: var(--accent-color-100);

  --text-light: #ebdcd5;
  --text-dark: #442129;
  --text-light-mark: var(--secondary-color-100);
  --text-dark-mark: var(--accent-color-200);

  --base-color-50: #f7f2f0;
  --base-color-100: #ebdcd5;
  --base-color-200: #e1d3cf;
  --base-color-300: #dac7c1;
  --base-color-400: #d4bcb9;

  --no-color: rgba(0, 0, 0, 0);

  --body-font: "Poppins", "Lexend", "Manrope", sans-serif;
  --heading-font: "Lora", "EB Garamond", "Playfair Display", serif;

  --text-heading-1-size: 4rem;
  --text-heading-1-line-height: 1.2;

  --text-heading-2-size: 4rem;
  --text-heading-2-line-height: 1.25;

  --text-heading-3-size: 2.5rem;
  --text-heading-3-line-height: 1.3;

  --text-body-size: 20px;
  --text-body-line-height: 28px;

  --text-small-size: 1rem;
  --text-small-line-height: 1.4;
}
body {
  background-color: var(--base-color-100);
  color: var(--text-dark);
  font-family: var(--body-font);
  line-height: 1.6;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  margin-top: 0;
}

h1 {
  font-size: var(--text-heading-1-size);
  line-height: var(--text-heading-1-line-height);
}

h2 {
  font-size: var(--text-heading-2-size);
  line-height: var(--text-heading-2-line-height);
}

h3 {
  font-size: var(--text-heading-3-size);
  line-height: var(--text-heading-3-line-height);
}

header {
  font-size: var(--text-body-size);
  display: flex;
  flex-direction: row;
  align-items: center;
}

header,
footer {
  background-color: var(--primary-color-100);
  color: var(--text-light);
  padding: 10px 20px;
  text-align: center;
}

a.article-link {
  color: var(--text-light);
  text-decoration: none;
  font-size: 1rem;
}

article {
  padding: 20px;
  margin-bottom: 20px;
  font-size: var(--text-body-size);
  padding-bottom: 40px;
  max-width: 1280px;
  padding-left: 2.7vw;
  padding-right: 2.7vw;
  margin-left: auto;
  margin-right: auto;

  &.blog-post {
    line-height: 1.75;
  }

  p {
    text-indent: 50px;
  }
}

main {
  padding-left: 4.3%;
  padding-right: 4.3%;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}

blockquote {
  border-left: 4px solid var(--accent-color-100);
  margin: 1.5em 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--primary-color-200);
  background-color: var(--accent-color-transparent);
  font-style: italic;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

mark {
  background-color: var(--no-color);
  color: var(--text-light-mark);
}

.topbar-logo {
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: -0.1em;

  & a {
    text-decoration: none;
    color: var(--text-light);
  }
}

.topbar-webname {
  margin-left: 2rem;
  font-size: 1rem;
}

.topbar-header-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}