header,
footer {
    background-color: #1a3b5d;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

mark {
  background-color: #132b42;
  color: #fff;
}

article {
    background-color: #fff;
    padding: 20px;
    padding-right: 60px;
    padding-left: 60px;
    margin-bottom: 20px;
}

main {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

header h1 {
    font-family: Georgia, 'Bookman Old Style', serif;
    margin-bottom: 4px;
}

article h2 {
    font-family: Georgia, 'Bookman Old Style', serif;
}

header p {
    margin-bottom: 40px;
}

article p {
    text-indent: 50px;
}