:root {
  --primary-color-100: #663642;
  --primary-color-200: #4c252e;
  --primary-color: var(--primary-color-100);

  --secondary-color-100: #bee6b1;
  --secondary-color-200: #9bbb90;
  --secondary-color: var(--secondary-color-100);

  --accent-color-100: #ee7591;
  --accent-color-200: #cc647c;
  --accent-color: var(--accent-color-100);

  --text-light: #ebdcd5;
  --text-dark: #442129;
  --text-light-mark: var(--accent-color-100);
  --text-dark-mark: var(--accent-color-200);

  --base-color-50: #f7f2f0;
  --base-color-100: #ebdcd5;
  --base-color-200: #e1d3cf;
  --base-color-300: #dac7c1;
  --base-color-400: #d4bcb9;

  --no-color: rgba(0, 0, 0, 0);

  --body-font: "Manrope", "Lexend", "Poppins", sans-serif;
  --heading-font: "EB Garamond", "Lora", "Playfair Display", serif;

  --text-body-size: 1rem;
  --text-body-line-height: 1.6;
}
body {
  background-color: var(--base-color-100);
  color: var(--text-dark);
  font-family: var(--body-font);
  line-height: 1.6;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  margin-top: 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.375rem;
  line-height: 1.3;
}

header {
  font-size: var(--text-body-size);
}

header,
footer {
  background-color: var(--primary-color-100);
  color: var(--text-light);
  padding: 10px 20px;
  text-align: center;
}

a.article-link {
  color: var(--text-light);
  margin: 0 10px;
  text-decoration: none;
}

article {
  background-color: var(--base-color-50);
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 20px;
  font-size: var(--text-body-size);
  padding-bottom: 40px;
}

main {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

article p {
  text-indent: 50px;
}

blockquote {
  border-left: 4px solid var(--accent-color-100);
  margin: 1.5em 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--primary-color-200);
  font-style: italic;
}

mark {
  background-color: var(--no-color);
  color: var(--text-light-mark);
}
