#tag {
  background-color: var(--accent-color-100);
  color: var(--text-light);
  padding: 0.2em 0.6em;
  border-radius: 0.3em;
  width: fit-content;
  font-weight: bold;
  font-size: var(--text-small-size);
  text-transform: uppercase;
}

.blog-date {
  margin-bottom: 10px;
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.blog-author {
  margin-bottom: 1em;
  text-align: center;
  font-size: var(--text-small-size);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.25rem;

  & #blog-author-separator {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--base-color-400);
  }
}

.blog-img-frame {
  background-color: var(--base-color-300);
  padding: 1em;
  border-radius: 15px;

  & span {
    display: block;
    margin-top: 0.5rem;
    font-size: var(--text-small-size);
    padding-left: 50px;
    padding-right: 50px;
  }

  & img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
  }
}

.blog-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

.blog-title {
  line-height: 115%;
  margin-bottom: 0.5em;
  margin-top: 1rem;
  text-align: left;
  font-size: 64px;
  letter-spacing: 0.015em;
  word-spacing: 0.01em;
}

.heading {
  margin-top: 2rem;
}

.body q {
  background-color: var(--accent-color-transparent);
  text-decoration-line: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
}

.introduction,
.heading,
.body {
  padding-right: 2.5vw;
  padding-left: 2.5vw;
}

mark {
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px solid var(--base-color-300);
  margin-bottom: 2rem;
}
