header {
  background-color: var(--transparent);
}
body {
  background: url(../assets/home-tile.png) repeat;
}
main {
  margin: 10vh auto;
  background-color: var(--base-color-100);
  width: 90%;
  max-width: 700px;
  min-height: 100vh;
  box-shadow: -1em 1em 10em var(--primary-color-300);
  border-radius: 15px;
  padding: 0;
  position: relative;
  border: 2px solid var(--base-color-400);
  overflow: hidden;
  z-index: 0;

  & .header-section {
    box-sizing: border-box;
    padding: 1em 2em;
    border-bottom: 10px double var(--secondary-color-200);
    width: 100%;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    & svg {
      position: absolute;
      top: 2em;
      right: 3.6em;
      width: 6.7em;
      aspect-ratio: 1/1;
      fill: var(--base-color-400);
      rotate: -15deg;
    }
    & .noteholes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0.6em;
      left: 0;
      width: 100%;
      gap: 3em;
      & .notehole {
        width: 1.7em;
        height: 1.7em;
        background-color: var(--primary-color-200);
        border-radius: 50%;
        border: 2px solid var(--base-color-400);
      }
    }

    & h1 {
      font-size: 4em;
      margin-bottom: 0;
      line-height: 1;
      font-weight: 900;
    }
  }

  & .bucket-lists {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding-bottom: 1em;

    &:hover {
      & .title,
      & .lists span {
        opacity: 0.5;
      }
    }

    & .bucket-list {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      width: 100%;

      &:hover {
        & .title,
        & .lists span {
          opacity: 1;
        }

        & .title {
          color: var(--secondary-color);
          font-weight: 900;
        }
      }

      & .title,
      .lists span {
        border-bottom: 1px solid var(--base-color-400);
        width: 100%;
        font-size: 1.2em;
        transition: all 0.18s ease;
      }
      & .title {
        padding: 0.1em 2em;
        font-weight: 600;

        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 0;
          height: 3px;
          background-color: var(--accent-color-100);
          border-radius: 3px;
          transition: all 0.18s ease;
          margin-top: 1px;
        }
      }
      & .lists span {
        padding: 0.1em 4em;
        box-sizing: border-box;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 70%;
          height: 100%;
          position: absolute;
          background-color: var(--accent-color);
          border-radius: 3px;
          transition: all 0.18s ease;
          bottom: 0;
          left: 10%;
          opacity: 0;
        }
        &:hover::after {
          width: 100%;
          left: 0;
          opacity: 0.1;
        }
      }
      & .lists {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        width: 100%;
      }
    }
  }
}

.images-section {
  z-index: 10;
  position: relative;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

  & a { text-decoration: none; }
  & figure {
    padding: 1em;
    background-color: var(--base-color-50);
    display: inline-block;
    transition: all 0.18s ease;
    border-radius: 1px;
    position: absolute;
    z-index: 10;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

    &:hover {
      transform: scale(1.01);
      box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    }

    & img {
      width: 10em;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    & figcaption {
      text-align: center;
      font-size: 0.9em;
      margin-top: 0.5em;
      color: var(--text-dark);
    }
  }
}
.meiji {
  top: 14em;
  right: 10%;
  rotate: -5deg;
}
.paris {
  top: 29em;
  left: 6%;
  rotate: 7deg;
}
.leetcode {
  top: 45em;
  right: 8%;
  rotate: 10deg;
}
.miku {
  top: 80em;
  left: 6%;
  rotate: -5deg;
}