main {
  max-width: 1280px;
}

.header-section {
  margin-top: 2em;
  text-align: center;
}

.film-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  min-height: 100vh;
  background-color: var(--base-color-300);
}

.film-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.film-card {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  margin-bottom: 20px;
  background-color: var(--base-color-50);

  & .film-card-header {
    background-color: var(--base-color-300);
    width: 100%;
    display: flex;
    flex-direction: row;

    & .film-card-title {
      width: 50%;
      display: flex;
      flex-direction: column;
      background-color: var(--base-color-400);

      & .film-card-title-eng-text {
        font-size: 2.5rem;
        font-weight: 900;
        font-family: var(--heading-font);
      }

      & .film-card-title-text {
        font-size: 1.25rem;
        font-weight: 600;
        font-family: var(--heading-font);
      }
    }

    & .film-card-rating {
      display: flex;
      flex-direction: column;
      align-items: end;
      width: 50%;

      & .film-card-rating-content {
        display: flex;
        flex-direction: row;

        & .film-card-rating-star svg {
          width: 3.5em;
          aspect-ratio: 1/1;
          fill: var(--accent-color);
        }
        & .film-card-rating-values {
          display: flex;
          flex-direction: column;
          & .film-card-rating-values-top {
            font-size: 2em;
            line-height: 0.9;
            font-weight: 600;
          }
        }
      }
    }
  }

  & .film-card-meta {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    & .film-card-meta-seperator {
      width: 5px;
      aspect-ratio: 1/1;
      margin-left: 1em;
      margin-right: 1em;
      background-color: var(--base-color-300);
      height: 5px;
      border-radius: 5px;
    }
  }

  & .film-card-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 31em;
    justify-content: center;

    & .film-card-poster {
      padding: 1em;
      aspect-ratio: 2/3;
      height: 100%;
      & img {
        width: 100%;
        background-color: var(--base-color-300);
        object-fit: cover;
      }
    }

    & .film-card-trailer {
      padding: 1em;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 16/9;
      height: 100%;

      & iframe {
        width: 100%;
        aspect-ratio: 16/9;
        height: auto;
        border: none;
        border-radius: 10px;
      }
    }
  }
}
