main {
  max-width: 1280px;
}

.header-section {
  margin-top: 2em;
  text-align: center;
}

.back-button {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: var(--primary-color-100);
  color: var(--text-light);
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9em;
  transition: all 0.18s ease;
  margin-top: 2.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25em;

  &:hover {
    background-color: var(--primary-color-200);
  }
}

.film-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  min-height: 100vh;
}

.film-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.film-card {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 4/3;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  position: relative;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  background-color: var(--base-color-50);
  border: 2px solid var(--base-color-200);

  & .film-card-header {
    width: 100%;
    display: flex;
    flex-direction: row;

    & .film-card-title {
      width: 50%;
      display: flex;
      flex-direction: column;

      & .film-card-title-eng-text {
        font-size: 2.5rem;
        font-weight: 900;
        font-family: var(--heading-font);
      }

      & .film-card-title-text {
        font-size: 1.25rem;
        font-weight: 600;
        font-family: var(--heading-font);
      }
    }

    & .film-card-rating {
      display: flex;
      flex-direction: column;
      align-items: end;
      width: 50%;

      & .film-card-rating-content {
        display: flex;
        flex-direction: row;

        & .film-card-rating-star svg {
          width: 3.5em;
          aspect-ratio: 1/1;
          fill: var(--accent-color);
        }
        & .film-card-rating-values {
          display: flex;
          flex-direction: column;
          & .film-card-rating-values-top {
            font-size: 2em;
            line-height: 0.9;
            font-weight: 600;
          }
        }
      }
    }
  }

  & .film-card-meta {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    & .film-card-meta-seperator {
      width: 5px;
      aspect-ratio: 1/1;
      margin-left: 1em;
      margin-right: 1em;
      height: 5px;
      border-radius: 5px;
      background-color: var(--base-color-400);
    }
  }

  & .film-card-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 54%;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 1em;
    margin-top: 3em;

    & .film-card-poster {
      aspect-ratio: 2/3;
      height: 100%;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    & .film-card-trailer {
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 16/9;
      height: 100%;

      & iframe {
        width: 100%;
        aspect-ratio: 16/9;
        height: auto;
        border: none;
        border-radius: 10px;
      }
    }
  }

  & .film-card-genre {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    width: fit-content;

    & span {
      background-color: var(--accent-color-50);
      color: var(--accent-color-200);
      font-size: 0.9rem;
      padding: 0.125em 0.75em;
      border-radius: 5px;
      transition: all 0.18s ease;

      &:hover {
        background-color: var(--secondary-color-50);
        color: var(--secondary-color-200);
      }
    }
  }

  & .film-card-synopsis {
    width: 100%;
    margin-bottom: 1em;
  }

  & .film-card-people {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    width: 50%;

    & .film-card-people-list {
      display: flex;
      flex-direction: row;
      gap: 3em;

      &:hover .film-card-people-label {
        font-weight: 900;
      }

      & .film-card-people-label {
        width: 5em;
        transition: font-weight 0.18s ease;
      }

      & .film-card-people-name {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;

        & a {
          text-decoration: none;
          color: var(--secondary-color);
          transition: all 0.18s ease-in-out;

          &::after {
            content: "";
            display: block;
            width: 0%;
            height: 3px;
            border-radius: 3px;
            background-color: var(--secondary-color);
            transition: all 0.18s ease;
          }

          &:hover {
            color: var(--accent-color);

            &::after {
              width: 100%;
              background-color: var(--accent-color);
            }
          }
        }
      }
    }
  }
}
