main {
  max-width: 1280px;
}

.header-section {
  margin-top: 2em;
  text-align: center;
}

.film-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 1280px;
  min-height: 100vh;
  background-color: var(--base-color-300);
}

.film-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.film-card {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  position: relative;
  margin-bottom: 20px;
  background-color: var(--base-color-50);
}