main {
  padding: 0;
}

body {
  background: url("../assets/home-tile.png") repeat;
}

header {
  background-color: var(--transparent);
}

mark {
    color: var(--accent-color-100)
}

.header-section {
  margin-top: 20vh;
  text-align: center;
  color: var(--text-light);
}

.media-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100%;
  justify-content: center;
  margin-top: 7em;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: var(--base-color-100);
  gap: 2.5em;
  border-top: 5px solid var(--base-color-400);
  border-bottom: 5px solid var(--base-color-400);
  box-shadow: var(--primary-color-200) 0px 0px 6em 0px;

  &::before {
    content: "";
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 5px dashed var(--base-color-400);
  }

  &::after {
    content: "";
    position: absolute;
    top: 1em;
    left: 0;
    width: 100%;
    z-index: 1;
    border-top: 5px dashed var(--base-color-400);
  }

  & .media-sep {
    width: 3px;
    border-radius: 3px;
    height: 5em;
    background-color: var(--base-color-400);
  }

  & .media-card {
    width: fit-content;
    height: fit-content;
    transition: all 0.18s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 3em;
    margin-bottom: 3em;

    & a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    & div {
      width: 10em;
      aspect-ratio: 1/1;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2em;
      padding: 2em;
      border-radius: 15px;
      transition: all 0.18s ease;
      border: 2px solid var(--base-color-100);

      & svg {
        stroke: var(--primary-color-100);
        transition: all 0.18s ease;
      }
    }
    & h2 {
      font-size: 1.25em;
      font-weight: 600;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      translate: 0 1em;
      color: var(--text-dark);
      font-family: var(--body-font);
      transition: all 0.18s ease;
      opacity: 0;
      pointer-events: none;

      &::after {
        content: "";
        display: block;
        margin: auto;
        margin-top: 1px;
        width: 0;
        height: 3px;
        background-color: var(--accent-color-100);
        border-radius: 3px;
        transition: all 0.18s ease;
      }
    }
    &:hover {
      & div {
        box-shadow: 0 0 1em var(--base-color-400);
      }
      & svg {
        stroke: var(--primary-color-200);
      }
      & h2 {
        translate: 0 0.9em;
        opacity: 1;

        &::after {
          width: 30%;
        }
      }
    }
  }
}
