body {
  background: url(../assets/home-tile.png) repeat;
}
main {
  padding: 0;
}
header {
  background-color: var(--transparent);
}

.header-section {
  margin-top: 2em;
  text-align: center;
  height: 100vh;
  & h1 {
    color: var(--text-light);
  }

  & .places-img-alt {
    width: 100%;
    margin: 1em 0;
    text-align: center;
    color: var(--text-light);
  }

  & .places-img-container {
    background-color: var(--base-color-50);
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;

  }
}
.places-section {
  width: 100%;
  background-color: var(--base-color-100);
  min-height: 100vh;
  padding-top: 5em;
  padding-bottom: 5em;
  position: relative;
  border-top: 5px solid var(--base-color-400);

  &::after {
    content: "";
    position: absolute;
    top: 1em;
    left: 0;
    width: 100%;
    z-index: 1;
    border-top: 5px dashed var(--base-color-400);
  }

  & .places-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    max-width: 1280px;
    margin: 0 auto;
    gap: 5em;

    & .places-card {
      width: 100%;
      background-color: var(--base-color-50);
      position: relative;
      display: flex;
      flex-direction: row;
      border-radius: 15px;
      overflow: hidden;

      &.reverse {
        flex-direction: row-reverse;
      }

      & .places-card-left {
        width: 60%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & h2 {
          font-size: 3em;
          margin-bottom: 0;
          font-weight: 900;
          text-align: center;
        }
        & p {
          padding: 0 5em;
          text-indent: 2em;
        }
      }
      & .places-card-right {
        width: 40%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & a {
          width: 100%;
          height: 100%;
          overflow: hidden;
          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.18s ease;

            &:hover {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}
