:root {
  --primary-color-50: #85535f;
  --primary-color-100: #663642;
  --primary-color-200: #4c252e;
  --primary-color-300: #32191a;
  --primary-color-400: #1a0d0d;
  --primary-color: var(--primary-color-100);

  --secondary-color-50: #d8c1e0;
  --secondary-color-100: #7a6a9f;
  --secondary-color-200: #635588;
  --secondary-color: var(--secondary-color-100);

  --accent-color-50: #ffd0d9;
  --accent-color-100: #ee7591;
  --accent-color-200: #cc647c;
  --accent-color-transparent: rgba(238, 117, 145, 0.2);
  --accent-color: var(--accent-color-100);

  --extra-color-50: #cbebbe;
  --extra-color-100: #8ebd7c;
  --extra-color-200: #6e8855;
  --extra-color: var(--extra-color-100);

  --text-light: #ebdcd5;
  --text-dark: #442129;
  --text-light-mark: var(--secondary-color-100);
  --text-dark-mark: var(--accent-color-200);

  --base-color-00: #f7efec;
  --base-color-50: #f1e7e3;
  --base-color-100: #ebdcd5;
  --base-color-200: #e1d3cf;
  --base-color-300: #dac7c1;
  --base-color-400: #d4bcb9;

  --no-color: rgba(0, 0, 0, 0);

  --body-font: "Lexend", "Poppins", "Manrope", sans-serif;
  --heading-font: "Lora", "EB Garamond", "Playfair Display", serif;

  --text-heading-1-size: 4rem;
  --text-heading-1-line-height: 1.2;

  --text-heading-2-size: 4rem;
  --text-heading-2-line-height: 1.25;

  --text-heading-3-size: 2.5rem;
  --text-heading-3-line-height: 1.3;

  --text-body-size: 20px;
  --text-body-line-height: 28px;

  --text-small-size: 1rem;
  --text-small-line-height: 1.4;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base-color-100);
  color: var(--text-dark);
  font-family: var(--body-font);
  line-height: 1.6;
  margin: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  margin-top: 0;
}

h1 {
  font-size: var(--text-heading-1-size);
  line-height: var(--text-heading-1-line-height);
}

h2 {
  font-size: var(--text-heading-2-size);
  line-height: var(--text-heading-2-line-height);
}

h3 {
  font-size: var(--text-heading-3-size);
  line-height: var(--text-heading-3-line-height);
}

header {
  font-size: var(--text-body-size);
  display: flex;
  flex-direction: row;
  align-items: center;
}

header,
footer {
  background-color: var(--primary-color-100);
  color: var(--text-light);
  padding: 10px 20px;
  text-align: center;

  & mark {
    color: var(--accent-color);
  }
}

article {
  padding: 20px;
  margin-bottom: 20px;
  font-size: var(--text-body-size);
  padding-bottom: 40px;
  max-width: 1280px;
  padding-left: 2.7vw;
  padding-right: 2.7vw;
  margin-left: auto;
  margin-right: auto;

  &.blog-post {
    line-height: 1.75;
  }

  p {
    text-indent: 50px;
  }
}

main {
  padding-left: 4.3%;
  padding-right: 4.3%;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
}

blockquote {
  border-left: 4px solid var(--accent-color-100);
  margin: 1.5em 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--primary-color-200);
  background-color: var(--accent-color-transparent);
  font-style: italic;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

mark {
  background-color: var(--no-color);
  color: var(--text-light-mark);
}

ul {
  list-style: none;
  padding: 1em;
  padding-top: 2em;
  min-width: 50%;
  width: fit-content;
  position: relative;
  margin-top: 2em;
  border-radius: 15px;
  border: 2px solid var(--base-color-400);
  background-color: var(--base-color-200);

  & span {
    display: block;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--heading-font);
    position: absolute;
    top: -0.75em;
    background-color: var(--base-color-50);
    padding: 0 1em;
    border-radius: 1em;
    border: 2px solid var(--base-color-400);
  }
  li {
    position: relative;
    margin-left: 2em;

    &::before {
      content: "";
      background-color: var(--accent-color);
      display: inline-block;
      width: 3px;
      height: 40%;
      left: -1em;
      rotate: 90deg;
      bottom: 30%;
      border-radius: 1.5px;
      position: absolute;
      
    }
  }
}

.topbar-webname {
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 600;
}

.topbar-header-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;

  & .topbar-logo {
    font-weight: bold;
    font-size: 1.7rem;
    letter-spacing: -0.1em;

    & a {
      text-decoration: none;
      color: var(--text-light);
    }
  }

  &:hover nav a.article-link:not(.active) {
    color: var(--base-color-400);
    transition: color 0.18s ease;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1.25em;
    align-items: center;
    margin-left: 2.5em;
    flex-wrap: wrap;

    & a {
      text-decoration: none;
      color: var(--text-light);
      font-size: 1rem;
      font-size: 1rem;
      line-height: 1;
      transition: all 0.18s ease;

      &.active {
        &::after {
          content: "";
          display: block;
          margin: auto;
          margin-top: 7px;
          width: 100%;
          height: 3px;
          background-color: var(--accent-color-100);
          border-radius: 3px;
        }
        &::before {
          content: "";
          display: block;
          margin: auto;
          margin-bottom: 7px;
          width: 100%;
          height: 3px;
        }
      }

      &:not(.active) {
        &:hover {
          color: var(--text-light) !important;
          transition: color 0.18s ease;

          &::after {
            content: "";
            display: block;
            margin: auto;
            margin-top: 7px;
            width: 100%;
            height: 3px;
            border-radius: 3px;
            background-color: var(--secondary-color-100);
          }
        }

        &::before {
          content: "";
          display: block;
          margin: auto;
          margin-bottom: 7px;
          width: 0%;
          height: 3px;
        }

        &::after {
          content: "";
          display: block;
          margin: auto;
          margin-top: 7px;
          width: 0%;
          height: 3px;
          border-radius: 3px;
          background-color: var(--secondary-color-100);
          transition: width 0.18s ease;
        }
      }
    }
  }
}

.back-to-top {
  position: fixed;
  right: 1em;
  bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color-100, #333);
  color: #fff;
  text-decoration: none;
  border-radius: 1em;
  z-index: 9999;
  gap: 0.5rem;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;

  &:hover {
    transform: translateY(-2px);
    background-color: var(--primary-color-200);
    transition: transform 150ms ease;
  }
}

/* Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.h-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 4rem 0;

  & img {
    width: 20px;
    aspect-ratio: square;
    /* color svg to #442129 */
    filter: brightness(0) saturate(100%) invert(22%) sepia(44%) saturate(749%)
      hue-rotate(335deg) brightness(89%) contrast(85%);
    &.small {
      width: 15px;
    }
  }

  & div {
    height: 1px;
    width: 100%;
    background-color: var(--text-dark);
  }
}